@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.expanded-resource-card {
    z-index: 16;
    background: #fff;
    width: 90%;
    margin: 4vh auto;
    min-height: 70vh;
}

.expanded-resource-card h2 {
    font-size: 1.2em;
    color: #262626;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.expanded-resource-card img {
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.close {
    margin-right: 10px;
    border-style: solid;
    background-color: #262626;
    border-color: #262626;
    border-radius: 50%;
    color: white;
    padding: 0 3px;
    font-size: 0.7em;
    cursor: pointer;
    outline: none;
}

.resource-links-container {
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
}


@media only screen and (min-width: 768px) {

    .expanded-resource-card h2 {
        font-size: 1.2vw;
        padding: 2vh;
    }

    .close {
        margin-left: 1vw;
        padding: 0 0.4vw;
    }
}