@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.resource-card {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 15px;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.16);
    margin-top: 4vh;
    display: block;
    border-radius: 3px;
}

.resource-card h2 {
    padding: 15px 15px;
    font-size: 0.76em;
    background-color: #585658;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resource-card img {
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.resource-card p {
    font-size: 0.6em;
    color: var(--theme);
    padding: 15px;
}

.resource-card button {
    margin-left: 15px;
    padding: 7px 15px;
    font-size: 0.76em;
    border-style: solid;
    border-color: #99cffe;
    background-color: #99cffe;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.bookmarked {
    color: #99cffe;
}

.resource-card button:hover {
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 2000px) {
    .resource-card {
        width: 30%;
        float: left;
        margin-right: 2%;
        padding-bottom: 2vh;
    }

    .resource-card h2 {
        font-size: 1vw;
        padding: 2vh;
    }

    .resource-card p {
        font-size: 0.8vw;
        padding: 2vh;
    }

    .resource-card button {
        margin-left: 2vh;
        padding: 1vh 2vh;
        font-size: 0.9vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1999px) {
    .resource-card {
        width: 45%;
        float: left;
        margin-right: 5%;
        border-radius: 3px;
    }

    .resource-card h2 {
        font-size: 1.2vw;
        padding: 2.5vh;
    }

    .resource-card p {
        font-size: 1vw;
        padding: 2.5vh;
    }

    .resource-card button {
        margin-left: 2.5vh;
        padding: 1vh 2.5vh;
        font-size: 1.1vw;
    }
}

